<!DOCTYPE html>
<html>

<head>
    <title>Short To</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|Comfortaa" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <style>
    .error-url-class {
        border-color: red;
        -webkit-border-start: #ef5350;
        border-width: 1px 1px;
        box-shadow: 2px 1px 1px #ef5350;
    }
    </style>
</head>

<body>
    <!-- Navbar Start -->
    <nav>
        <div class="container" >
            <div class="row">
                <div class="col-md-1 col-sm-12 col-xs-12 text-center">
                    <h1 class="logo">ShortTo.com</h1>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-5 text-center colorChange" style="margin-top: 25px;">
                    <ul class="list-inline">
                        <li onclick="changeColor('red');" ><button id="red">Red</button></li>
                        <li onclick="changeColor('meridian');"><button id="meridian">Meridian</button></li>
                        <li onclick="changeColor('sunset');"><button id="sunset">Sunset</button></li>
                        <li class="mobile-btn" onclick="changeColor('timbr');"><button id="timbr">Timbr</button></li>
                        <li class="mobile-btn" onclick="changeColor('random');"><button id="random">Random</button></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
    <!-- Navbar End -->
    <!-- Main Body Start -->
    <div class="container-fluid" id="main" style="color: white>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 center">
                <h1 class="basic-heading">Get Custom URL</h1>
                <ul class="main-point" id="small-it">
                    <li>
                        <p >Want customized URLs for your long URLs?</p>
                    </li>
                    <li>
                        <p >Want analytics for your URLs?</p>
                    </li>
                    <li>
                        <p >Want unlimited number of shortened URLs?</p>
                    </li>
                </ul>
                <p class="sub-heading">We are here to solve all your URL issues.</p>
                <br>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 main-div" id="main-div">
                <form action="/" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <label for="basic-url-2" class="label-style-2">Enter long URL to shorten it</label>
                    <div class="input-group" style=" padding-right: 20px">
                        <span class="input-group-addon" id="basic-addon3">Long URL: </span>
                        <input type="url" class="form-control" id="from_url" name="from_url" aria-describedby="basic-addon3" placeholder="Place your long URL here" required>
                    </div>
                    <br>
                    <br>
                    <label for="basic-url" class="label-style-2" style="padding-top: 0">Your custom URL {% if error_url %} {{ '(Try Again.Url is taken)' }} {% endif %}
                    </label>
                    <div class="input-group" style=" padding-right: 20px">
                        <span class="input-group-addon" id="basic-addon3">https://www.shortto.com/</span>
                        <input type="text" class="form-control
                    {% if error_url %}
                    {{ 'error-url-class' }}
                    {% endif %}
                    " id="to_url" name="to_url" aria-describedby="basic-addon3" placeholder="Place your custom URL here(Optional)">
                    </div>
                    <div class="mobile"></div>
                    <div class="row text-center">
                        <div class="col-md-4 col-sm-4" id="move">
                            <button type="submit" class="btn-sbmt"><b>Shorten my URL</b></button>
                        </div>
                        <div class="col-md-5 col-sm-5" style="padding-top: 15px">
                            <b>Links Shortened: </b> 11,213 <br> 
                            <b>Link Clicks: </b> 23,97,987 times
                        </div>
                        <div class="col-md-3 col-sm-3" style="padding-top: 15px">
                            <button  class="shorted_url" onclick="showMyLinks()">My short URLs</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Main Body End -->

    <!-- Footer Start -->
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                        <span><p class="text-center">Made with <i class="glyphicon glyphicon-heart"></i> in India</p></span>
                <span><p class="text-center">A Project by <a href="http://microsoftlpu.com/" target="_blank">Microsoft Technical Community LPU</a></p></span>
                <p class="text-center"> © 2017 Copyright
                    <a href="https://shortto.com ">ShortTo Inc.</a> All Rights Reserved.</p>
            </div>
            </div>
        </div>
    </footer>
   <!-- Footer End -->

   <script type="text/javascript" src="app.js"></script>
</body>

</html>
